@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');


.contacts {
    background-image: url(../../img/feetback.png);
    background-position: center;
    background-size: cover;
    background-attachment: relative;
    filter: opacity(2);
}

.container__contacts {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.container__contacts button {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    background-color: black;
    text-transform: uppercase;
    border:0;
    border-bottom:1px solid #eee;
    transition-duration: .7s;
}

.container__contacts button:hover {
    cursor: pointer;
    font-size: 1.1em;
}


.resume-container {
    min-height: 100vh;
	display: flex;
	flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100%;
    position: relative;
    z-index: -1;
    background-image: url(../../img/resume-item-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: relative;
}

.resume__description {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    margin-left: 30%;
    vertical-align: middle;

    -webkit-animation-name: resume__description;
    animation-name: resume__description;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes resume__description {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes resume__description {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
}

.resume__description h2 {
    font-size: 2em;
}

.resume__description p {
    font-size: 1.3em;
}


.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.fullscreen {
	min-height: 100vh;
	display: flex;
	
}

.social a {
    color: white;
    text-decoration: none;
    padding: 10px;
}