@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.header {
    width: 100%;
    height: 40px;
    background-color: black;
    position: absolute;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header .container {
    max-width: 1140px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-brand {
    font-size: 22px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container a {
    color: white;
    text-decoration: none;
    
}


